@model List<Product>



      <div class="mehsullar col-lg-12">
                                    
                             @foreach (Product product in Model)
                            {
                                <div class="mehsul col-lg-3">
                                        
                                            <div class="mehsul-box">
                                                <a class="mehsulunlinki" asp-controller="product" asp-action="index" asp-route-id="@product.Id">
                                                <div class="mehsul-box-img">
                                                    <div class="card-cash">
                                                        <div class="card-cash-img">
                                                        <img src="~/assets/img/redpecat.svg" alt="">
                                                        </div>    
                                                        <div class="card-cash-discount">
                                                            <p>Nağd alışda <span>@product.DiscoutnPrice</span> endirim</p>
                                                        </div>                          
                                                    </div>
                                                    <div class="card-favori" >
                                                        <img src="~/assets/img/svgexport-22.svg" alt="" class="dddddd" onclick="chBackcolor('red')">
                                                    </div>
                                                    <img src="~/assets/img/productjpg/@product.MainImage" alt="mehsulun sekili">
                                                </div>
                                                </a>
                                                <div class="mehsul-box-bottom">
                                                    <a class="mehsulunlinki" asp-controller="product" asp-action="index" asp-route-id="@product.Id">
                                                    <div class="mehsul-categorie-name">
                                                        <ul>
                                                            <li>TV, Audio və Əyləncə</li>
                                                        </ul>
                                                        <h3>@product.Name</h3>
                                                    </div>
                                                    <div class="mehsul-price-month">
                                                        <div class="mehsul-price">
                                                            <p>@product.Price</p>
                                                            <img src="~/assets/img/manatgreen.svg" alt="">
                                                        </div>
                                                        <div class="mehsul-month">
                                                            <p>12 ay</p>
                                                            <div class="month-price">
                                                                <p>65.83</p>
                                                                <img src="~/assets/img/manatpurple.svg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </a>

                                                    <div class="mehsul-buynow-basket">
                                                        <div class="buynow">
                                                            <p>Indi al</p>
                                                        </div>
                                                        <!-- asp route ye +Id eelemisem! Cunnki error cixarirdi-->
                                                        <div class="gotobasket">
                                                            <a asp-controller="basket" asp-action="AddToBasket" asp-route-Id="@product.Id" class="addbasket">
                                                                <img src="~/assets/img/basketgreen.svg">
                                                                </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        
                                    </div>
                            }
                                    

                                </div>