@model PageNatedList<Category>

@{
   
    int no = Model.ItemCount * (Model.Page -1) ;
}


      <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category Type</th>
                        <th>Status</th>
                        <th>Setting</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                         @foreach (Category category in Model)
                {
                    no++;
                     <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@no</strong></td>
                        <td>@category.Name</td>
                        <td>@(category.IsMain ? "Esas":"Alt")</td>
                        <td style="color:@(category.IsDeleted ? "red" : "green")">@(category.IsDeleted ? "Deleted" : "Active")</td>

                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" asp-area="manage" asp-controller="category" asp-action="update" asp-route-id="@category.Id"><i class="bx bx-edit-alt me-1"></i> Update</a>

                           @if (category.IsDeleted)
                            {
                                <a class="dropdown-item restore-btn-admin" asp-area="manage" asp-controller="category" asp-action="restore" asp-route-id="@category.Id" asp-route-page="@Model.Page"><i class="bx bx-trash me-1"></i> restore</a>
                            }
                            else
                            {
                                <a class="dropdown-item delete-btn-admin" asp-area="manage" asp-controller="category" asp-action="delete" asp-route-id="@category.Id" asp-route-page="@Model.Page"><i class="bx bx-trash me-1"></i> delete</a>
                            }

                              
                            </div>
                          </div>
                        </td>

                            </tr>
                            
                        }

                     
                    </tbody>
                  </table>