@model PageNatedList<Category>

@{
    ViewData["Title"] = "Index";
}


<div class="content-wrapper" style="margin-left:50px;">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Categories</h5>

                <div style="text-align:center;" >
                    <form>
                        <div>
                            <label style="font-weight:700; padding-right:10px; font-size:20px;" class="col-form-label" >Brand Status Choose</label>
                            <select name="status" style="padding:5px 60px; background-color:lightseagreen; border-radius:5px; font-weight:700;">
                               
                            @if(ViewBag.Status == 0)
                            {
                                <option selected value="0" class="">All</option>
                            }
                            else
                            {
                                <option  value="0" class="">All</option>
                            }

                            @if(ViewBag.Status == 0)
                            {
                                <option selected value="1" class="">Deleted</option>
                            }
                            else
                            {
                                <option value="1" class="">Deleted</option>
                            }

                            @if(ViewBag.Status == 0)
                            {
                               
                                <option selected value="2" class="">NotDeleted</option>
                            }
                            else
                            {
                                <option value="2" class="">NotDeleted</option>
                            }

                            </select>
                        </div>
                        <button type="submit">Filer</button>
                    </form>
                </div>

                <div style="text-align:end;">
                    <a asp-controller="category" asp-action="create" asp-area="manage" style="border:1px solid black; padding:5px 10px; margin-right:10px; border-radius:10px; background-color:green; color:white;">
                        Create
                        </a>
                </div>
                <div class="table-responsive text-nowrap tbl-content">
                
                    @await Html.PartialAsync("_CategoryIndexPartial",Model)

                </div>
              </div>

              
              <div style="display:flex; justify-content:space-between; width:300px; padding-top:20px;">

            @if(Model.HasPrev)
            {
                <div><a style="background-color:gray; color:white; border-radius:5px; border:1px solid black; padding:5px 10px;" asp-area="manage" asp-controller="Brand" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="1"> @("<<") </a></div>
                <div><a style="background-color:gray; color:white; border-radius:5px; border:1px solid black; padding:5px 10px;" asp-area="manage" asp-controller="Brand" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page-1)"> @("<") </a></div>

            }   
                  @for (int i = 1; i < Model.PageCount; i++)
                    {
                <div><a style="background-color:gray; color:white; border-radius:5px; border:1px solid black; padding:5px 10px;" asp-area="manage" asp-controller="Brand" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@i"> @i </a></div>
                 }
            @if (Model.HasNext)
            {
                <div><a style="background-color:gray; color:white; border-radius:5px; border:1px solid black; padding:5px 10px;" asp-area="manage" asp-controller="Brand" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page+1)"> @(">") </a></div>
                <div><a style="background-color:gray; color:white; border-radius:5px; border:1px solid black; padding:5px 10px;" asp-area="manage" asp-controller="Brand" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@Model.Page)"> @(">>") </a></div>

            }
                 
              </div>
            </div>
 
            <div class="content-backdrop fade"></div>
          </div>

