@model List<Product>
@{
    ViewData["Title"] = "Index";
}
 <section>
        <div class="container">
            <div class="home-all-top row">
                <div class="home-left col-lg-1">
                    <ul>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie1.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Telefon və  planşetlər</span>
                                    </div>
                                    <div class="dropright-content">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie2.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Qadjet və  aksesuarlar</span>
                                    </div>
                                    <div class="dropright-content dc2 ">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie3.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">TV, Audio və  Əyləncə</span>
                                    </div>
                                    <div class="dropright-content dc3">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie4.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Kompüter texnikası</span>
                                    </div>
                                    <div class="dropright-content dc4">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie5.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Məişət  texnikası</span>
                                    </div>
                                    <div class="dropright-content dc5">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="categorie-item">
                                <div class="item dropright">
                                    <div class="item-top">
                                        <img src="~/assets/img/categorie/categorie6.svg" alt="">
                                    </div>
                                    <div class="item-bottom">
                                        <span class="Categories_text__g3eyc">Nömrələr</span>
                                    </div>
                                    <div class="dropright-content dc6">
                                        <div class="row">
                                            <div class="column">
                                              <h3>Mobil telefonlar</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Planşetlər</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                            <div class="column">
                                              <h3>Ev telefonları</h3>
                                              <a href="#">Apple</a>
                                              <a href="#">Samsung</a>
                                              <a href="#">Xiaomi</a>
                                              <a href="#">Huawei</a>
                                              <a href="#">Nokia</a>
                                              <a href="#">LG</a>
                                              <a href="#">Sony</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="home-right col-lg-11">
                    
                    <div class="slideshow-container">
                        <div class="mySlides fade">           
                            <img src="~/assets/img/slideshow/img1.jpg" style="width:100%">
                        </div>
                        <div class="mySlides fade">           
                            <img src="~/assets/img/slideshow/img2.jpg" style="width:100%">
                        </div>
                        <div class="mySlides fade">           
                            <img src="~/assets/img/slideshow/img3.jpg" style="width:100%">
                        </div>                 
                    </div>
                        <div class="after-slideshow">
                            <div class="btn-box prev" onclick="plusSlides(-1)">
                                <a><i class="fa-solid fa-chevron-left"></i></a>
                            </div>
                            <div class="slideshow-mini">
                                <!-- To be Countined -->
                            </div>
                            <div class="btn-box next" onclick="plusSlides(1)">
                                <a><i class="fa-solid fa-chevron-right"></i></a>
                            </div>
                        </div>

                        <section>
                            <div class="home-all-mehsullar">
                                <h2>Ən çox satılanlar</h2>
                                <div class="mehsullar col-lg-12">
                                    
                                    @foreach (Product product in Model)
                            {
                                <div class="mehsul col-lg-3">
                                        
                                            <div class="mehsul-box">
                                                <a class="mehsulunlinki" asp-controller="product" asp-action="index" asp-route-id="@product.Id">
                                                <div class="mehsul-box-img">
                                                    <div class="card-cash">
                                                        <div class="card-cash-img">
                                                        <img src="~/assets/img/redpecat.svg" alt="">
                                                        </div>    
                                                        <div class="card-cash-discount">
                                                            <p>Nağd alışda <span>@product.DiscoutnPrice</span> endirim</p>
                                                        </div>                          
                                                    </div>
                                                    <div class="card-favori" >
                                                        <img src="~/assets/img/svgexport-22.svg" alt="" class="dddddd" onclick="chBackcolor('red')">
                                                    </div>
                                                    <img src="~/assets/img/productjpg/@product.MainImage" alt="mehsulun sekili">
                                                </div>
                                                </a>
                                                <div class="mehsul-box-bottom">
                                                    <a class="mehsulunlinki" asp-controller="product" asp-action="index" asp-route-id="@product.Id">
                                                    <div class="mehsul-categorie-name">
                                                        <ul>
                                                            <li>TV, Audio və Əyləncə</li>
                                                        </ul>
                                                        <h3>@product.Name</h3>
                                                    </div>
                                                    <div class="mehsul-price-month">
                                                        <div class="mehsul-price">
                                                            <p>@product.Price</p>
                                                            <img src="~/assets/img/manatgreen.svg" alt="">
                                                        </div>
                                                        <div class="mehsul-month">
                                                            <p>12 ay</p>
                                                            <div class="month-price">
                                                                <p>65.83</p>
                                                                <img src="~/assets/img/manatpurple.svg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </a>

                                                    <div class="mehsul-buynow-basket">
                                                        <div class="buynow">
                                                            <p>Indi al</p>
                                                        </div>
                                                        <!-- asp route ye +Id eelemisem! Cunnki error cixarirdi-->
                                                        <div class="gotobasket">
                                                            <a asp-controller="basket" asp-action="AddToBasket" asp-route-Id="@product.Id">
                                                                <img src="~/assets/img/basketgreen.svg">
                                                                </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        
                                    </div>
                            }
                                    

                                </div>
                            </div>
                            
                           
                            
                        </section>
                        <div class="section">
                            <div class="partnyorlar">
                                <h2>Partnyorlar</h2>
                                <div class="partnyorlar-box">
                                    <a href=""><img src="~/assets/img/partnyorsvg/apple.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/samsung.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/xiaomi.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/jbl.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/marshal.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/tcl.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/porodo.svg" alt=""></a>
                                    <a href=""><img src="~/assets/img/partnyorsvg/sony.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                </div>
                
                
            </div>
        </div>
    </section>

    <aside class="categorymodal" >
        <ul>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie1.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Telefon və  planşetlər</span>
                        </div>
                        <div class="dropright-content">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie2.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Qadjet və  aksesuarlar</span>
                        </div>
                        <div class="dropright-content dc2 ">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie3.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">TV, Audio və  Əyləncə</span>
                        </div>
                        <div class="dropright-content dc3">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie4.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Kompüter texnikası</span>
                        </div>
                        <div class="dropright-content dc4">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie5.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Məişət  texnikası</span>
                        </div>
                        <div class="dropright-content dc5">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="categorie-item">
                    <div class="item dropright">
                        <div class="item-top">
                            <img src="~/assets/img/categorie/categorie6.svg" alt="">
                        </div>
                        <div class="item-bottom">
                            <span class="Categories_text__g3eyc">Nömrələr</span>
                        </div>
                        <div class="dropright-content dc6">
                            <div class="row">
                                <div class="column">
                                  <h3>Mobil telefonlar</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Planşetlər</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                                <div class="column">
                                  <h3>Ev telefonları</h3>
                                  <a href="#">Apple</a>
                                  <a href="#">Samsung</a>
                                  <a href="#">Xiaomi</a>
                                  <a href="#">Huawei</a>
                                  <a href="#">Nokia</a>
                                  <a href="#">LG</a>
                                  <a href="#">Sony</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
